{% extends "base.html" %} {% block content %}
<br>  
<div class="container">
    <h1> register an account </h1> <br>
    {% if messages %}
    <div class="mt-3">
        {%for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {%endfor%}
    </div>
    {%endif%}
<form class="form-group" method="POST">
    {%csrf_token%}
    <input class="form-control" type="text" name="username" placeholder="username" required> <br> <br>
    <input class="form-control" type="email" name="email" placeholder="email" required> <br> <br>
    <label for="role"> select your role: </label>
    <select class="form-control" name="role" id="role">
        <option value="engineer"> engineer </option>
        <option value="teamleader"> team leader </option>
        <option value="dptleader"> department leader </option>
        <option value="manager"> senior manager </option>
    </select> <br> <br>
    <input class="form-control" type="password" name="password" placeholder="password" required> <br> <br>
    <input class="form-control" type="password" name="confirmedpassword" placeholder="confirm password" required>
    <br> <br>

    <button type="submit"> sign up! </button> <br> <br>
    <p> already have an account? <a href="{%url 'login'%}"> log in here</a></p>
</form>
</div>
{% endblock content %}